<div class="section">
  <div class="row nopadding">
    <div class="row-eq-height">
      <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12">
        <div class="description">
          <h1></h1>
          <h3></h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div style="border: 1px solid #dadada; box-shadow: 1px 1px 10px 0px #dadada; background-color: white">
          <ul class="register clearfix">
            <li [routerLink]="['/auth/login']"><a>Sign In</a></li>
            <li [routerLink]="['/auth/signup']" class="active"><a>Sign Up</a></li>
          </ul>
          <div style="padding: 40px;" class="clearfix">

            <!-- Register Form  -->
            <form [formGroup]="registerForm" (ngSubmit)="register()">


              <!-- firstName -->
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" class="form-control" formControlName="firstName">
              </div>

              <!-- lastName -->
              <div class="form-group">
                <label for="lastName">Last Name </label>
                <input type="text" id="lastName" class="form-control" formControlName="lastName">
              </div>           

              <!-- email -->
              <div class="form-group">
                <label for="email">Email Address </label>
                <input type="email" id="email" class="form-control" formControlName="email">
              </div>

              <!-- password -->
              <div class="form-group" style="margin-bottom: 40px;">
                <label for="password">Password </label>
                <input type="password" id="password" class="form-control" formControlName="password">
              </div>

              <button type="submit" class="srt-button" >Sign up</button>

            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>