<!-- Register Form  -->
<form [formGroup]="registerForm" (ngSubmit)="register()">


  <!-- firstName -->
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" class="form-control" formControlName="firstName">
  </div>

  <!-- lastName -->
  <div class="form-group">
    <label for="lastName">Last Name </label>
    <input type="text" id="lastName" class="form-control" formControlName="lastName">
  </div>

  <!-- email -->
  <div class="form-group">
    <label for="email">Email Address </label>
    <input type="email" id="email" class="form-control" formControlName="email">
  </div>

  <!-- password -->
  <div class="form-group" style="margin-bottom: 40px;">
    <label for="password">Password </label>
    <input type="password" id="password" class="form-control" formControlName="password">
  </div>

  <button type="submit" class="srt-button">Sign up</button>

</form>