<div class="top-frame">
    {{selectedUser.firstName}}'s dashboard.
</div>

<div class="container clearfix nopadding">
  <div class="ys-card-parent clearfix" *ngIf="navigation">
    <div *ngFor="let link of navigation.links" class="ys-card-children">
        <div class="ys-1-1 ys-shadow button" (click)="directTo(link.url)">
          <div>
            <div class="ys-table">
              <div class="ys-table-cell vm" style="font-size: 16px" [innerHTML]="link.name"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

