
<div class="login-div">


    <div class="login-header-triangle-top"></div>
    <div class="login-header-triangle-bottom"></div>
    <div class="login-header-triangle-bottom-right"></div>
    <div class="login-header-div">
        <div class="login-header section-title"><div>Please Login</div></div>
    </div>

    <div class="login-content ys-button-div">

        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <div class="login-input">
                <input type="email" id="email" formControlName="email" placeholder="Username"/>
                <div class="login-input-icon">
                    <i class="fa fa-user" aria-hidden="true" ></i>
                </div>
            </div>

            <div class="login-input">
                <input type="password" id="password" formControlName="password" placeholder="Password"/>
                <div class="login-input-icon">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
            </div>
            <div class="login-input clearfix">
              <div class="ys-link" (click)="loginAsGuest()">Login as Guest</div>
              <div class="ys-link" (click)="loginAsAdmin()">Login as Admin</div>
            </div>
            <!-- <div class="login-input clearfix">
                <input id="rememberme" for="rememberMe" type="checkbox" style="float: left" />
                <div style="float: left; line-height: 40px">Remember me</div>
            </div> -->

            <button type="submit" class="btn btn-primary ys-button auth" style="float: right">Login</button>
            <a [routerLink]="['/auth/signup']" class="link">Doesn't have account yet? sign up here</a>
        </form>
    </div>


</div>
