.login-div {
    position: relative;
     -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.login-header-div {
    position: absolute;
    top: 25px;
    right: -5px;
    left: -10px;
    height: 40px;
    background-color: #5d84b3;
}

.login-header {
    display: table;
    width: 100%;
    height: 100%;
}

.login-header > div {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding-left: 20px;
    color: #f7f7f7;
}

.login-header-triangle-top {
    position: absolute;
    left: -10px;
    top: 18px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 9px solid #5c6c80;
}
/* 
.login-header-triangle-bottom {
    position: absolute;
    left: -10px;
    top: 65px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 9px solid #5c6c80;
} */

.login-header-triangle-bottom-right {
    position: absolute;
    right: -5px;
    top: 65px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 4px solid #5c6c80;
}

.login-content {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 200px;
    padding: 20px 40px;
}

.login-input {
    position: relative;
    padding-bottom: 25px;
}

.login-input input{
    width: 100%;
    padding: 2.5px 40px 2.5px 10px;
    height: 40px;
}

.login-input-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    border-left: 1px solid #dadada;
}

#rememberme {
    width: 30px; 
}

.btn-primary {
    background-color: #5d84b3;
}