ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  max-width: 500px;
}

li {
  padding: 10px 0px 0px 0px;
}

.list {
  width: 100%;
  min-height: 71px;
  padding: 12px;
  display: table;
  table-layout: fixed;
  background-color: white;
}

.user {
  display: table-cell;
  vertical-align: top;
  width: 40px;
  min-height: 71px;
}

.content {
  display: table-cell;
  vertical-align: top;
  width: calc(100% - 40px);
  min-height: 71px;
  padding: 10px 0px 0px 12px;
}
