/* You can add global styles to this file, and also import other style files */

/* Menu  */

.root {
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

body {
  height: 100vh;
  font-size: 16px;
}

.main-page {
  height: 100vh;
  background-color: white;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms  linear;
  transition: all 200ms linear;
}

.main-page.active {
  transform: perspective( 2000px ) rotateY( 45deg ) translateX(-80%) scale(0.9)
}

.main-page-menu {
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.menu-content-items ul {
  list-style: none;
  padding: 0px 10%;
  margin: 0px;
}

.menu-content-items li {
  height: 40px;
}

.menu-content-items a.white {
  color: white !important;
  line-height: 40px;
  cursor: pointer;
}

.menu-content-items a.black {
  color: black !important;
  line-height: 40px;
  cursor: pointer;
}

.menu-content-items i {
  width: 30px;
  text-align: center;
  font-size: 1.3em;
}

.menu-content-items span {
  padding-left: 10px;
}


/* Section */

.section {
  padding: 40px;
}

.section-title {
  font-size: 22px;
}

.section-sub-title {
  font-size: 18px
}

.ys-table {
    display: table;
    width: 100%;
}

.ys-table .ys-table-cell {
    display: table-cell;
}

.ys-table .vm {
    vertical-align: middle;
}

button {
    cursor: pointer;
}

/* BUTTON */

.ys-button-div {
  position: relative;
}

.ys-button.auth {
  position: absolute;
  right: 40px;
  bottom: 60px;
}

.ys-button.right {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.ys-button {
  max-width: 200px;
  min-width: 150px;
  height: 60px;
  font-size: 20px;
}

.ys-button.btn-primary {
  background-color: #5d84b3;
  color: #f7f7f7;
}

/* FONT */

.page-title {
  font-size: 24px;
}


