/* You can add global styles to this file, and also import other style files */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

/* Section */

.section {
  padding: 40px;
}

.section-title {
  font-size: 22px;
}

.section-sub-title {
  font-size: 18px
}



.ys-table {
    display: table;
    width: 100%;
}

.ys-table .ys-table-cell {
    display: table-cell;
}

.ys-table .vm {
    vertical-align: middle;
}

button {
    cursor: pointer;
}

/* BUTTON */

.ys-button-div {
  position: relative;
}

.ys-button.auth {
  position: absolute;
  right: 40px;
  bottom: 60px;
}

.ys-button.right {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.ys-button {
  max-width: 200px;
  min-width: 150px;
  height: 60px;
  font-size: 20px;
}

.ys-button.btn-primary {
  background-color: #5d84b3;
  color: #f7f7f7;
}

/* FONT */

.page-title {
  font-size: 24px;
}

